<!-- header:start -->
<header>

    <div class="header-left">
        <figure>
            <a href="/gallery"><img src="assets/images/blog-photo.jpg" alt="Profile Photo"></a>
            <figcaption>
                <a href="https://www.linkedin.com/in/muhammad-zuhdi-fikri-johari/" target="_blank"
                    rel="noopener noreferrer">
                    <i class="fa-brands fa-linkedin home-icon"></i>
                </a>
                <a href="https://ikkifik.medium.com/" target="_blank" rel="noopener noreferrer">
                    <i class="fa-brands fa-medium home-icon"></i>
                </a>
                <a href="https://github.com/ikkifik" target="_blank" rel="noopener noreferrer">
                    <i class="fa-brands fa-github home-icon"></i>
                </a>
                <a href="https://scholar.google.com/citations?user=MhGfsr8AAAAJ" target="_blank"
                    rel="noopener noreferrer">
                    <i class="fa-brands fa-google-scholar"></i>
                </a>
                <br />
                <a href="#"><i>cv</i></a> / 
                <a href="/blog"><i>blog</i></a> / 
                <a href="/portal"><i>portal</i></a>
            </figcaption>
        </figure>
    </div>

    <div class="header-right">
        <h1>Zuhdi Fikri</h1>
        <p>
            I am a MS Informatics researcher at <a href="https://www.inf.shizuoka.ac.jp/en/" target="_blank"
                rel="noopener noreferrer">Shizuoka University</a>, Japan.
            I obtained my B.Cs degree from <a href="https://home.amikom.ac.id/" target="_blank"
                rel="noopener noreferrer">Universitas Amikom Yogyakarta</a>, Indonesia,
            advised by <a href="https://ariflaksito.net/" target="_blank" rel="noopener noreferrer">Arif Laksito</a>.
        </p>
        <p>
            I had worked for the <a href="https://silvanus-project.eu/" target="_blank"
                rel="noopener noreferrer">SILVANUS Project</a>, under
            <a href="https://www.kusrini.com/" target="_blank" rel="noopener noreferrer">Prof. Kusrini</a> research
            group. I also worked closely with
            <a href="https://scholar.google.com/citations?user=LH34CyEAAAAJ" target="_blank"
                rel="noopener noreferrer">Prof. Arief Setyanto</a> and
            <a href="https://scholar.google.com/citations?user=k4WDIFcAAAAJ" target="_blank"
                rel="noopener noreferrer">Prof. Kumara Ari Yuana</a>
            on data fusion and geospatial data processing.

            Before that, I was a data engineer for a big data solution company, where I handled data flows from upstream
            to downstream.
        </p>
        <ul class="home-list">
            <li><b>Email (personal):</b> mzuhdifj_at_gmail.com</li>
            <li><b>Email (academic):</b> -</li>
            <!-- <li>
                <b>Address:</b> <br />
                Shizuoka University (Hamamatsu Campus) <br />
                3-5-1 Johoku, Chuo-ku, Hamamatsu-shi, Shizuoka 432-8011 Japan
            </li> -->
        </ul>
    </div>

</header>

<!-- header:end -->