<!-- 
 * @Author: Zuhdi Fikri
 * @LastUpdate: 2025-07-25
-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ site.title }}</title>
    <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>

    <header>
        <div><a href="/"> ⇐ Home </a></div>
        <!-- <div style="margin: auto; font-style: italic;">{{ site.title }}'s Blog</div> -->
    </header>

    {{ content }}

</body>
</html>